{% extends 'base.html' %}
{% block content %}
 <script src="/static/scripts/carousel.js"></script> 
    <div class="featured-trains">
        <h2>Featured Trains</h2>
        <div class="carousel-wrapper">
            <button id="prevBtn"><</button>
            <div class="scroll-container" id="carousel">
                {% for train in trains[:5] %}
                <div class="scroll-item" >
                    <a href="{{ url_for('main.train_detail', train_id=train.id) }}">
                        <img src="{{ url_for('static', filename='images/' ~ train.image_filename) }}" alt="train.name_en">
                        <p>
                            <strong>{{  train.name_en }}</strong><br>
                            {{  train.name_jp  }}
                        </p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <button class="nextBtn" id="nextBtn">></button>
        </div>
        <div class="indicator-container" id="scrollIndicators">
            <span class="dot"> </span>  
            <span class="dot"> </span>
            <span class="dot"> </span>
            <span class="dot"> </span>
            <span class="dot"> </span> 
            <span class="big-dot"> </span>
            <span class="dot"> </span>
            <span class="dot"> </span>
            <span class="dot"> </span>
            <span class="dot"> </span> 
            <span class="dot"> </span>  
            <span class="dot"> </span>  
        </div>
    </div>
{% endblock %}


